#:schema https://raw.githubusercontent.com/YunoHost/apps/main/schemas/manifest.v2.schema.json

packaging_format = 2

id = "filerise"
name = "FileRise"
description.en = "Web file manager"
description.fr = "Gestionnaire de fichiers Web"

version = "3.1.7~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "MIT"
demo = "https://demo.filerise.net/"
code = "https://github.com/error311/FileRise"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "70M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/error311/FileRise/archive/refs/tags/v3.1.7.tar.gz"
    sha256 = "e4bf27770f9853b20026c5d63f31febe66979f460b6dac470a7ea99273e77072"

    autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.data_dir]
    subdirs = ["uploads", "users", "metadata"]
    group = "www-data:rx"

    [resources.permissions]
    main.url = "/"
    api.url = "/api"
    api.allowed = "visitors"
    api.auth_header = false
    api.show_tile = false
    
    [resources.apt]
    packages = "php8.4-curl, php8.4-zip, php8.4-mbstring, php8.4-dom"

    [resources.composer]
    version = "2.8.11"
